body {
    font-size: 14px;
    text-align: center;
}

/* FONDO */
.woods {
    background: url(../images/bgr/woods.png) 0 0 repeat-x;
    padding: 225px 0 0;
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 100%;
}

.white {
    background: #fff;
    color: #313140;
}
.stars, .twinkling {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.stars {
    background: #313140 url(../images/bgr/stars.png) repeat top center;
    z-index: 0;
}
.twinkling {
    background: transparent url(../images/bgr/twinkling.png) repeat top center;
    z-index: 1;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

/* DISEÑO */
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* HEADER */
.head {
    position: relative;
    z-index: 999;
}

#logo {
    width: 40%;
}

.main {
    position: relative;
    z-index: 999;
    background: url(../images/bgr/santa.png) 50% 50% no-repeat;
    padding: 120px;
    justify-items: center;
}

h1 {
    font-family: 'Great Vibes', cursive;
    -webkit-text-stroke: 1px #000;
    color: #F7F6F2;
    font-size: 100px;
    font-weight: normal;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 5);
}

/* FOOTER */
.foot {
    position: relative;
    z-index: 999;
    padding: 40px;
}

/* AUDIO */
#youtube-audio{
    display: none;
}

/* OTROS DISPOSITIVOS */

@media screen and (max-width: 1300px) {
    .head{
        height: 200px;    
    }
    #logo {
        width: 50%;
    }
    h1 {
        font-size: 100px;
    }
}
@media screen and (max-width: 1000px) {
    .head{
        height: 100px;    
    }
    #logo {
        width: 60%;
    }
    h1 {
        font-size: 100px;
    }
}
@media screen and (max-width: 830px) {
    .head{
        height: 100px;    
    }
    #logo {
        width: 70%;
    }
    .main{
        padding: 80px;
        background-size: contain;
        -webkit-background-size: contain;
    }
    h1 {
        padding-top: 60px;
        font-size: 80px;
    }
}
@media screen and (max-width: 650px) {
    .main{
        padding: 20px;
    }
    h1 {
        font-size: 70px;
    }
}
@media screen and (max-width: 480px) {
    #logo {
        width:80%;
    }
    .main{
        padding: 20px;
    }
    h1 {
        -webkit-text-stroke: 0.8px #000;
        font-size: 60px;
    }
}
@media screen and (max-width: 320px) {
    #logo {
        width:80%;
    }
    .main{
        padding: 20px;
    }
    h1 {
        -webkit-text-stroke: 0.5px #000;
        padding-top: 0px;
        font-size: 40px;
    }
}

